# PostgreSQL Credentials
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_secure_postgres_password
POSTGRES_DB=data_storage_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# MinIO Credentials
MINIO_ROOT_USER=your_minio_user
MINIO_ROOT_PASSWORD=your_secure_minio_password
MINIO_ENDPOINT=http://minio:9000
MINIO_BUCKET=datalake

# RabbitMQ Credentials
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=your_rabbitmq_password
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

# Airflow Credentials
AIRFLOW_POSTGRES_USER=airflow
AIRFLOW_POSTGRES_PASSWORD=your_secure_airflow_db_password
AIRFLOW_POSTGRES_DB=airflow
AIRFLOW_ADMIN_USER=airflow
AIRFLOW_ADMIN_PASSWORD=your_airflow_admin_password
AIRFLOW_ADMIN_FIRSTNAME=Admin
AIRFLOW_ADMIN_LASTNAME=User
AIRFLOW_ADMIN_EMAIL=admin@example.com
